body {
    line-height: 1.7em;
    background-color: #c4d7d8;
    overflow:hidden;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-row{
    display:flex;
    flex-direction:row;
}


.hover:hover {
    transform: scale(1.10);
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #050505;    
}

h1 {
    line-height: 1;
    text-shadow: .1px 1px white;
    font-size: 5vw;
}

input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    /*width: 100%;*/
    margin-bottom: 1em;
}

.button-submit {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

    .button-submit:hover {
        transform: scale(1.01);
        cursor:pointer;
    }

    .form{
         max-width: 300px;
         display: flex;
         flex-direction: column;
    }